<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <section>
    {% if posts %}
        {% for post in posts %}
        <article>
            <header>
            <img src="{{ post.featured_image.url }}" alt="post.featured_image.name">
            <h1><a href="">{{ post.title }}</a></h1>
                <p>published: {{ post.published_date }}</p>
            </header>
            <!-- /header -->
            <p>
            	{{ post.text|linebreaks }}
            </p>
            <footer>
            </footer>
        </article>
        {% endfor %}
    {% else %}
    <article>
        <h1>No Posts.</h1>
    </article>
    {% endif %}
    </section>
</body>

</html>
